<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
		<meta name="keywords" content="Vita,Blog,Simple,Posts,Xuniverse,Josh" />
		<meta name="description" content="A simple blog written with JavaScript using NodeJS." />
		
		<meta name="author" content="Josh" />
		<meta name="generator" content="HTML,JavasScript,Node.js" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		
		<link rel='stylesheet' href='/stylesheets/style.css' />

		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->	

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

		<!--

		<script src="/javascripts/moment-with-langs.js"></script>
		<script src="/javascripts/jquery-1.11.0.js"></script>
		<script src="/javascripts/handlebars-v1.3.0.js"></script>
		<script src="/javascripts/underscore.js"></script>
		<script src="/javascripts/backbone.js"></script>

		-->

		<script>

			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', '', 'your-domain.com');
			ga('send', 'pageview');
		  
		</script>
	</head>
  <body>
		<div id='container'>
			<header id='header'>
				<h1><%= title %></h1>
				<p>A simple blog written with JavaScript using NodeJS.</p>
			</header>
			<section id='content'>
				<div id="blogapp">
					<header class='blogHeader'>
						<nav class='blogMenu'></nav>
						<p class='blogStatusHeader blogStatus'></p>
					</header>
					<section class='containerArticles'></section>
					<section class='containerPanel'>
						<div class='containerRecentUpdates'></div>
						<div class='containerFormCreate containerForm'></div>
						<div class='containerFormEdit containerForm'></div>
						<div class='containerFormLogin containerForm'></div>
						<p class='blogStatusForm blogStatus'></p>
					</section>
				</div>
			</section>
			<footer id='footer'>
				2014 Josh 
				<a href='http://www.xuniver.se/'>Xuniverse</a> - 
				<a href='http://www.xuniver.se/page/projects#vita'>Source</a>
			</footer>
		</div>
		
		<script id="form-create-tpl" type="text/x-handlebars-template">
			<%- include form-create.tpl.ejs %>
		</script>
		
		<script id="form-edit-tpl" type="text/x-handlebars-template">
			<%- include form-edit.tpl.ejs %>
		</script>
		
		<script id="form-login-tpl" type="text/x-handlebars-template">
			<%- include form-login.tpl.ejs %>
		</script>
		
		<script id="post-tpl" type="text/x-handlebars-template">
			<%- include post.tpl.ejs %>
		</script>
		
		<script id="recent-updates-tpl" type="text/x-handlebars-template">
			<%- include recent-updates.tpl.ejs %>
		</script>
		
		<script id="menu-tpl" type="text/x-handlebars-template">
			<%- include menu.tpl.ejs %>
		</script>
	
		<script src="/javascripts/app.js"></script>
	</body>
</html>
